*.json
*.pyc
*.toc
build/ModsAssistant/xref-ModsAssistant.html
build/ModsAssistant/warn-ModsAssistant.txt
build/ModsAssistant/PYZ-00.pyz
build/ModsAssistant/PKG-00.pkg
build/ModsAssistant/ModsAssistant.exe.manifest
build/ModsAssistant/base_library.zip
ModsAssistant.spec
dist/ModsAssistant.exe
SandBox.py
